.farSide {
  text-align: right;
}

html[dir="RTL"] .farSide {
  text-align: left;
}

/* Buttons */
.tabButtons{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
.tabButton{
  flex: 1;
  cursor: pointer;
  color: rgb(58, 58, 58);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 0;
}
.tabButton:hover{
  background-color: rgb(184, 184, 184);;
}
button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
button.primary>img {
  opacity: 1;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}
/* Tabs */
.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 5px 19px;
  white-space: nowrap;
}
.taboff {
  cursor: pointer;
  padding: 5px 19px;
}
html[dir=rtl] td.tabmax {
  text-align: left;
}
.tabCode{
  height: 0;
  width: 0;
  overflow: hidden;
}
.contentContainer{
  height: 100%;
}
.content {
  visibility: hidden;
  margin: 0;
  /* padding: 1ex; */
  position: absolute;
  direction: ltr;
  height: 100% !important;
  resize: 'none'
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
#content_xml {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: monospace;
  overflow: scroll;
}
#languageMenu {
  vertical-align: top;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

/* Buttons */

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(/blockly/icons.png);
}
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}

/* Privacy link */
.privacyLink {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
}
