html, body {
  height: 100%; /* 設置為 100% 高度，允許頁面根據內容自適應 */
  margin: 0;
  overflow-y: auto; /* 垂直滾動條 */
}

#__next {
  min-height: 100%; /* 使用最小高度以撐滿視窗 */
  display: flex; /* 使用 Flexbox */
  flex-direction: column; /* 垂直排列 */
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  margin: 0;
}

.container {
  flex: 1; /* 主內容區域撐開剩餘空間 */
  width: 100%;
}

footer {
  text-align: center;
  background: #4b5c66;
  color: white;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  padding: 15px 0;
  width: 100%;
}
