.buttonChatContainer {
    position: fixed;
    right: 0px;
    display: flex;
    width: 500px;
    height: 90%;
    flex-direction: column-reverse;
    z-index: 9996;
}

.chatInterfaceContainer {
    display: flex;
    flex: 1;
    align-content: flex-end;
    border-radius: 0 0 0 20px;
    overflow: hidden;
}

.show {
    transition: transform 0.3s ease-out;
    transform: translateX(0);
}

.hide {
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
}

.buttonContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

@media screen and (max-width: 992px) {
    .buttonChatContainer {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .buttonChatContainer {
        height: 85%;
    }
    .chatInterfaceContainer {
        border-radius: 0 0 10px 10px;
    }
}

.transparentArea{
    pointer-events: none;
}
